.home-container {
  .cards {
    margin: 50px 10px 10px;

    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    gap: 16px;

    @media screen and (min-width: 1920px) {
      padding: 0 6.4%;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      padding: 0 3.1%;
    }

    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      padding: 0 3.5%;
    }
  }
}
