@use '../../index.scss' as color;

.header {
  @media (max-width: 425px) {
    display: flex;
    flex-direction: column;
    height: 220px;
  }

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: color.$primary;
  color: color.$text;

  height: 80px;
  width: 100%;

  .title {
    background-color: color.$secondary;
    height: 60px;
    border-radius: 22px;
    transition: filter 500ms ease;

    h1 {
      color: color.$primary;
      font-size: 2rem;
      line-height: 8px;
      font-weight: bold;
      padding: 0 25px;

      cursor: pointer;
    }

    &:hover {
      filter: brightness(0.85);
    }
  }
}
