@use '../../index.scss' as color;

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: color.$primary;
  color: color.$text;

  height: 80px;
  width: 100%;

  .title {
    background-color: color.$secondary;
    height: 60px;
    border-radius: 22px;
    transition: filter 500ms ease;

    h1 {
      color: color.$primary;
      font-size: 2rem;
      line-height: 1.25rem;
      font-weight: bold;
      padding: 0 25px;

      cursor: pointer;
    }

    &:hover {
      filter: brightness(0.85);
    }
  }

  ul {
    display: flex;
    align-items: center;
    gap: 2em;
    border-left: 2px solid color.$secondary;
    height: 50px;

    li {
      text-decoration: none;
      list-style: none;
      font-size: 1.5rem;
      padding: 0 10px;
      cursor: pointer;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: color.$secondary;
        transition: width 500ms;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
